<!DOCTYPE html>
<html lang="jp">
<head>
    <title>削除ページ</title>
    <%- include("./head"); %>
</head>
<body>
    <%- include("./header"); %>
    <main>
        <div>
            <form action="/blog/delete/<%= singleBlog._id %>" method="POST">
                <h1><%= singleBlog.title %></h1>
                <img src="/public/images/<%= singleBlog.image %>" alt="blog-image">
                <p><%= singleBlog.textBody %></p>
                <button type="button">削除する</button>
            </form>
        </div>
    </main>
    <%- include("./footer"); %>
</body>
</html>