<!DOCTYPE html>
<html lang="jp">
<head>
    <title>Indexのページ</title>
    <%- include("./head"); %>
</head>
<body>
    <%- include("./header"); %>
    <main>
        <div>
            <% allBlogs.forEach((blog) => { %>
                <div>
                    <a href="/blog/<%= blog._id %>">
                        <div>
                            <h1><%= blog.title %></h1>
                            <p><%= blog.summary %></p>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    </main>
    <%- include("./footer"); %>
</body>
</html>